<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>alfred.theme.custom.50A1C933-B1BF-4C66-BACE-9F9FA86919E6</string>
	<key>theme</key>
	<string>alfred.theme.custom.50A1C933-B1BF-4C66-BACE-9F9FA86919E6</string>
</dict>
</plist>
