<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>alfred.theme.custom.18E0052D-42E9-44CD-9BFC-BBF2B125B1D0</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4GAgDuDrawsPoPZ2Fg+AYY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>jolux</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Solarized</string>
			<key>resultPaddingSize</key>
			<integer>2</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+Hg4DyD2dhYPoOFhIQ+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg93c3D6D3dzcPoPd3Nw+AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4aFBT+DmpkZP4OBgIA7AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7GwsD6D3dzcPoPr6uo+AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Menlo</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4SDAz+DlZQUP4OXlhY/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Menlo</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg83MzD2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4GAgDuDrawsPoPZ2Fg+AYY=
			</data>
			<key>searchFont</key>
			<string>Menlo</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5STEz+DoqEhP4OioSE/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7OyMj+D2NdXPwEBhg==
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg93cXD+DychIPoO9vDw+AYY=
			</data>
			<key>shortcutFont</key>
			<string>Menlo</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7a1NT+DiokJPwABhg==
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.18E0052D-42E9-44CD-9BFC-BBF2B125B1D0</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.2DA397E7-D11D-4DA0-994B-C7A1880CDDD8</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5mYGD6DoaAgPoOFhIQ+AYY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6GgID6DqagoPoONjIw+AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>Malik Trey</string>
			<key>imageStyle</key>
			<integer>5</integer>
			<key>name</key>
			<string>Dark Mode (Red)</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAYOlpCQ+g6WkpD4Bhg==
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/z7ez+D+/p6P4Pn5mY/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/X0dD6D9fR0PoOBgIA+AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/z7ez+D+/p6P4Pm5WU/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAYOhoCA+g6WkpD4Bhg==
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5mYGD6DoaAgPoOFhIQ+AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/z7ez+D+/p6P4Pn5mY/AYY=
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6GgID6DqagoPoONjIw+AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7OyMj+D2NdXPwEBhg==
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5mYGD6DpaQkPoORkJA+AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAYOlpCQ+g6WkpD4Bhg==
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/z7ez+D+/p6P4Pn5mY/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.2DA397E7-D11D-4DA0-994B-C7A1880CDDD8</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
		<key>alfred.theme.custom.50A1C933-B1BF-4C66-BACE-9F9FA86919E6</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8HAQD6DwcBAPoPBwEA+AYY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6DmJcXP4PBwMA9g9ejMD+G
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Clifford Fajardo</string>
			<key>imageStyle</key>
			<integer>8</integer>
			<key>name</key>
			<string>NodeJs</string>
			<key>resultPaddingSize</key>
			<integer>3</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+HgYD6D2dhYPoO9vDw+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg9ejMD+G
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6DmJcXP4PBwMA9AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5iXFz+DnJsbP4OHhgY/gwAAAD+G
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6DmJcXP4PBwMA9gx+FKz+G
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultTextFontSize</key>
			<integer>3</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4mICD+DyMdHP4O/vr4+gz0K1z6G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+HgYD6D2dhYPoO9vDw+AIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue Light</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6DmJcXP4PBwMA9AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>2</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7OyMj+D2NdXPwEBhg==
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBgwrXIz+G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8XExD6DwcBAP4Pt7Gw+AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.50A1C933-B1BF-4C66-BACE-9F9FA86919E6</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.69646E27-DD06-4642-87BC-81231E95A152</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAgwAAgD6G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Kristof Verbeken</string>
			<key>imageStyle</key>
			<integer>8</integer>
			<key>name</key>
			<string>OS X Yosemite Dark Transparent</string>
			<key>resultPaddingSize</key>
			<integer>3</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5mYmD2DtbS0PoPz8nI/AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBgwAAAD+G
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultTextFontSize</key>
			<integer>3</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg5qZmT6G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue Light</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>2</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7OyMj+D2NdXPwEBhg==
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg5qZmT6G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg5qZmT6G
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.69646E27-DD06-4642-87BC-81231E95A152</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.C676BBD2-F903-49BB-B331-46C123C3A917</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nIyD2D6ejoPYO5uDg+g5qZWT+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nIyD2DycjIPYPJyMg9AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>2</integer>
			<key>credits</key>
			<string>Jeremy Bunting</string>
			<key>imageStyle</key>
			<integer>4</integer>
			<key>name</key>
			<string>Smoked</string>
			<key>resultPaddingSize</key>
			<integer>0</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6GgID2DoaAgPYOhoCA9g83MTD+G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBgz0KFz+G
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg4/CdT6G
			</data>
			<key>resultSubtextFont</key>
			<string>Lucida Grande</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+jnZz+D6OdnP4Po52c/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Lucida Grande</string>
			<key>resultTextFontSize</key>
			<integer>1</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAIP7+no/AAGG
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6Dq6qqPoOvrq4+AIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>shortcutFont</key>
			<string>Lucida Grande</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6uqKj+Dq6oqP4Orqio/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.C676BBD2-F903-49BB-B331-46C123C3A917</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.CA249650-D11B-4390-8827-B368377CF0E0</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8XERD6DxcREPoPFxEQ+gx+F6z6G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9PSUj+D09JSP4PT0lI/AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>Malik Trey</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Darkflow</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62sLD6DrawsPoOtrCw+g/YoXD+G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5qZGT+DmpkZP4OamRk/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/Tzcz+D9PNzP4P083M/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6GgoD6D29raPoOFhAQ/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7q5OT+Durk5P4O6uTk/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nISD6DxcREPoPZ2Fg+AIY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6WkJD6DpaQkPoOtrCw+gzMzcz+G
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6GgoD2Dp6YmP4Pd3Fw/AYY=
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6Dz87OPoOBgAA/g4XrUT+G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg42MDD6DwcBAPYPV1FQ+AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.CA249650-D11B-4390-8827-B368377CF0E0</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
		<key>alfred.theme.custom.DB5E0561-D677-477D-80B7-1BE990CD74C5</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD6Dx8bGPoO9vLw+AYY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9fWVj+D19ZWP4PX1lY/AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>Caleb Grove (@sircalebgrove)</string>
			<key>imageStyle</key>
			<integer>9</integer>
			<key>name</key>
			<string>Vintage OD</string>
			<key>resultPaddingSize</key>
			<integer>3</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6DqaioPoOhoKA+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62sLD+Drq0tP4OnpiY/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9LRUT+D0M9PP4PHxkY/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4uKCj+DiokJP4ODggI/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Courier</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7GwMD+Dr64uP4OnpiY/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Lucida Grande</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6uqKj+Dq6oqP4Orqio/AIY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5OSkj6DkZCQPoOHhoY+AYY=
			</data>
			<key>searchFont</key>
			<string>Lucida Grande</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg66tLT+Dq6oqP4Ognx8/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>2</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD6D9fT0PoONjAw/AYY=
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+Hg4D6D397ePoPX1tY+AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6emJj+DpqUlP4Ofnh4/AYY=
			</data>
			<key>shortcutFont</key>
			<string>Lucida Grande</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9LRUT+D0M9PP4PIx0c/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.DB5E0561-D677-477D-80B7-1BE990CD74C5</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
		<key>alfred.theme.custom.E55C00D9-53C9-4CE0-BF6E-459571386C6E</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+3s7D6D19ZWPwGDzcxMPoY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>@macfixer</string>
			<key>imageStyle</key>
			<integer>6</integer>
			<key>name</key>
			<string>Iced</string>
			<key>resultPaddingSize</key>
			<integer>2</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAIPT0tI+g9rZWT+DCtejPoY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5OSEj+Dk5ISP4OTkhI/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9fWVj+D19ZWP4PX1lY/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+zraz+D7OtrP4Ps62s/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg83MzD2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAgylcDz+G
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+zraz+D7OtrP4Ps62s/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7OyMj+D2NdXPwEBhg==
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7SzMz+DtLMzP4O0szM/AYY=
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6emJj+Dp6YmP4OnpiY/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.E55C00D9-53C9-4CE0-BF6E-459571386C6E</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.F7CA2351-F414-4B73-931E-B9E96B4F4E8C</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAgwAAAD+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg4/C9T2G
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Alex Calara</string>
			<key>imageStyle</key>
			<integer>8</integer>
			<key>name</key>
			<string>Boilerplate</string>
			<key>resultPaddingSize</key>
			<integer>4</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAgwrXIz+G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4mICD6D/v19P4Px8HA/gzMzcz+G
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5WUFD+D//5+P4P493c/gwAAAD+G
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBgwAAAD+G
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg83MzD2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+blZT+D5uVlP4Pm5WU/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAYOtrCw+g+Xk5D6DZmZmP4Y=
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg83MzD6G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.F7CA2351-F414-4B73-931E-B9E96B4F4E8C</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.FD4371CA-DEF0-41DC-8337-9A08AA3962B9</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nIyD2D6ejoPYO5uDg+g8P1aD+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nIyD2DycjIPYPJyMg9AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>AleXander</string>
			<key>imageStyle</key>
			<integer>4</integer>
			<key>name</key>
			<string>Terminal by Design</string>
			<key>resultPaddingSize</key>
			<integer>4</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6GgID2DoaAgPYOhoCA9g83MTD+G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6uqqj6D+/p6P4OZmJg+AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8PCQj+Dw8JCP4PDwkI/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg4/CdT6G
			</data>
			<key>resultSubtextFont</key>
			<string>Lucida Grande</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5ybGz+DnJsbP4Ocmxs/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Lucida Grande</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAIP7+no/AAGG
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg62srD6Dq6qqPoOvrq4+AIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>shortcutFont</key>
			<string>Lucida Grande</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6uqKj+Dq6oqP4Orqio/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.FD4371CA-DEF0-41DC-8337-9A08AA3962B9</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
